{% props message = null %}

{% set avatarColor = avatar_color(message.author.username) %}

<div class="message-item d-flex gap-3 mt-1"
     data-author-id="{{ message.author.id }}"
     data-message-id="{{ message.id }}"
     data-read-tracker-target="message">

    <div class="position-relative">
        <div class="message-avatar-frame rounded-circle avatar-gradient-{{ avatarColor }}">
            {{ message.author.username|slice(0, 1)|upper }}
        </div>

    </div>

    <div class="flex-grow-1 overflow-hidden position-relative">

        <div class="d-flex align-items-baseline">
            <span class="fw-semibold text-app-primary cursor-pointer pb-2">
                {{ message.author.username }}
            </span>
            <span class="message-timestamp">
                {{ message.createdAt|date('d.m.Y H:i') }}
            </span>
        </div>

        <div class="message-content">
            {{ message.content|nl2br }}
        </div>
    </div>
</div>
