{% props server, active = false, unreadCount = 0 %}

{% set initials = server.name|slice(0, 1)|upper %}

{% set can_edit = is_granted('SERVER_EDIT', server) %}

<div class="mb-2 position-relative"
    {{ can_edit ? stimulus_controller('context_menu') : '' }}>
    <div class="dropdown dropend">
        <a href="{{ path('app_server_default_channel', {serverId: server.id}) }}"
           id="server-dropdown-{{ server.id }}"
           class="server-icon-wrapper {{ active ? 'active' : '' }}"
           title="{{ server.name }}"
           {{ can_edit ? 'data-context-menu-target="trigger"' : '' }}
           aria-expanded="false">

            <div class="server-icon text-white shadow-sm avatar-gradient-blue"
                {{ stimulus_controller('avatar', { uuid: server.id }) }}>
                {{ initials }}
            </div>

            {% if unreadCount > 0 %}
                <span class="notification-badge">{{ unreadCount }}</span>
            {% endif %}
        </a>

        {% if can_edit %}
            <div class="dropdown show">
                <div class="dropdown-menu" data-context-menu-target="menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item"
                       href="{{ path('app_server_edit', {serverId: server.id}) }}">
                        Zarządzaj Serwerem
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
